{
  "trailingComma": "all",
  "parser": "babel-ts",
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.js"
      ],
      "options": {
        "parser": "jsdoc-parser"
      }
    }
  ]
}